body {
	background-image: url(../gif/stars.gif);
    font-family: "Lucida Console", monospace;
	text-align: center;
	animation: fadeIn 3s;
}

a {
	display: block;
	font-size: 20px;
	padding: 10px;
	color: lightgray;
	font-weight: bold;
	cursor: url(cursor/hand-point.cur), pointer;
	text-decoration: none;
}

a:hover { 
	background-color: transparent; 
	filter: drop-shadow(0 0 2rem white); 
	color: white;
}

body {
	background-color: black;
	text-align: center;
	animation: fadeIn 3s;
}

@keyframes fadeIn { 0% { opacity: 0 } 100% { opacity: 1 } }
