* {
    cursor: url(cursor/cursor.cur), pointer;
}


body {
	background-image: url(../gif/stars.gif); 
	background-blend-mode: exclusion;
	background-color: black;
    font-family: "Lucida Console", monospace;
	text-align: center;
	font-size: 15px;
}

a {
	display: block;
	font-size: 20px;
	padding: 10px;
	color: lightgray;
	font-weight: bold;
	cursor: url(cursor/hand-point.cur), pointer;
	font-style: normal;
	text-decoration: none;
}

a:hover { 
	background-color: transparent; 
	filter: drop-shadow(0 0 2rem white); 
	color: white;
}